<div class="modal fade" id="modalClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'create_client' %}" method="POST" class="card card-body" novalidate
                id="formClient">
                <div class="modal-body" id="modal-body">
                    {% csrf_token %}
                    {{form.type_identification.label}}
                    {{form.type_identification}}
                    {{form.type_identification.errors}}
                    {{form.number_identification.label}}
                    {{form.number_identification}}
                    {{form.number_identification.errors}}
                    {{form.first_name.label}}
                    {{form.first_name}}
                    {{form.first_name.errors}}
                    {{form.second_name.label}}
                    {{form.second_name}}
                    {{form.second_name.errors}}
                    {{form.last_name.label}}
                    {{form.last_name}}
                    {{form.last_name.errors}}
                    {{form.second_last_name.label}}
                    {{form.second_last_name}}
                    {{form.second_last_name.errors}}
                    {{form.phone_number.label}}
                    {{form.phone_number}}
                    {{form.phone_number.errors}}
                    {{form.phone_number_aux.label}}
                    {{form.phone_number_aux}}
                    {{form.phone_number_aux.errors}}
                    {{form.email_address.label}}
                    {{form.email_address}}
                    {{form.email_address.errors}}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="confirmButton">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>