{% extends 'nav/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/product.js' %}"></script>
<main class="container">
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <h1 class="text-center display-center py-5">Productos</h1>
            <div class="py-3">
                <!-- <a class="btn btn-primary" href="{% url 'create_product'%}">Agregar producto</a> -->
                <button type="button" class="btn btn-primary" onclick="createProduct()">Agregar producto</button>
            </div>
            <div id="alerts"></div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                  <tr>
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.code_product}}</td>
                    <td>{{product.name_product}} - {{product.category.name_category}}</td>
                    <td>{{product.unit_sale_price}}</td>
                    <td>{{product.stock_product}}</td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="editProduct('{{ product.id }}')">Editar</button>
                        <button type="button" class="btn btn-danger" onclick="productDelete('{{ product.id }}')">Eliminar</button>
                        
                        </form>
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            
        </div>
    </div>
</main>
{% include 'modal_confirm.html' %}
<!-- Contenedor para el modal -->
<div id="modalContainerProduct"></div>
{% endblock %}